<div class="section evt-form">
  <%= simple_form_for @mensagem do |f| %>
    <%= f.input :nome, input_html: { class: 'form-control'}, label_html: { class: 'label label_b'}  %>
    <%= f.input :assunto, collection: [['voluntario', 'Quero me voluntariar'], ['parceria', 'Quero ser parceiro']],
    prompt: "Selecionar assunto", label_method: :second, value_method: :first, label: "Assunto", input_html: { class: 'form-control'},
    label_html: { class: 'select label_b'}%>
    <%= f.button :submit, class: "btn btn-primary btn-criar"%>
    <%= link_to 'Voltar', :back, class: "btn btn-outline-secondary" %>
  <% end %>
</div>
