<h1 class="h1-evt">Voluntários - Visão geral</h1>

<div class="input-group md-form form-sm form-1 pl-0 mb-3 mt-5">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-text1"><i class="fas fa-search" aria-hidden="true"></i></span>
  </div>
  <input class="form-control my-0 py-1" id="myInput" type="text" placeholder="Procurar por voluntário, escolaridade..." aria-label="Search">
</div>

<div class="table-responsive">
  <table id="example1" class="table table-hover display" style="width:100%">
    <thead class="thead-dark">
      <tr>
        <th>Nome</th>
        <th>Data de entrada no Centro</th>
        <th>Escolaridade</th>
        <th>Em atividade?</th>
        <th colspan="2">Ações</th>
      </tr>
    </thead>

    <tbody id="teste">
      <% @voluntarios.each do |voluntario| %>
        <tr>
          <td><%= link_to voluntario.nome, voluntario, class: "text-dark", title: "Ver ficha cadastral de #{voluntario.nome}" %></td>
          <td><%= l voluntario.dt_nascimento, format: :complete_numbers, default: '-' %></td>
          <td><%= voluntario.escolaridade %></td>
          <td><%= voluntario.form_presente %></td>
          <td><%= link_to 'Editar', edit_voluntario_path(voluntario), class: 'btn btn-outline-primary btn-next' %>
          <%= link_to 'Apagar', voluntario_path(voluntario), class: 'btn btn-outline-danger btn-next', method: :delete, data: { confirm: 'Tem certeza que deseja apagar o cadastro do voluntário selecionado?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @voluntarios %>

<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#teste tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>
