<h1 class="h1-evt">Ficha de voluntário</h1>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin/voluntarios/novo">Novo cadastro de voluntário</a></li>
    <li class="breadcrumb-item"><a href="/admin/voluntarios">Ver todas os voluntários cadastrados</a></li>
    <li class="breadcrumb-item"><a href="/admin/atividades">Ver atividades</a></li>
  </ol>
</nav>

<div class="card mt-2">
  <div class="card-header">
    <h4 class="my-auto text-primary"><b><%= @voluntario.nome %></b>
    </h4>
  </div>

  <div class="card-body">
    <p class="card-text"><b>Data de entrada: </b><%= l @voluntario.dt_entrada, format: :long %></p>
    <p class="card-text"><b>Data de nascimento: </b><%= l @voluntario.dt_nascimento, format: :complete_numbers %></p>
    <p class="card-text"><b>Telefone: </b><%= @voluntario.telefone %></p>
    <p class="card-text"><b>E-mail: </b><%= @voluntario.email %></p>
    <p class="card-text"><b>Identidade: </b><%= @voluntario.identidade %></p>
    <p class="card-text"><b>Escolaridade: </b><%= @voluntario.escolaridade %></p>
    <p class="card-text"><b>Especialização: </b><%= @voluntario.especializacao %></p>
    <% if @voluntario.presenca? %>
      <p class="card-text"><b>Status: </b>Em atividade</p>
    <% else %>
      <p class="card-text"><b>Status: </b>Inativo(a)</p>
    <% end %>

    <span style="font-size: 20px;">
      <%= link_to voluntario_path(@voluntario), method: :delete, class: "btn btn-outline-danger", title: "Apagar ficha de #{@voluntario.nome}",
      data: { confirm: "Tem certeza que deseja apagar a ficha de #{@voluntario.nome}?" } do %>
      <i class="fas fa-user-times float-right"></i>
      <% end %>

      <%= link_to edit_voluntario_path(@voluntario), title: "Editar informações de #{@voluntario.nome}", class: "btn btn-outline-primary" do %>
      <i class="fas fa-user-edit float-right"></i>
      <% end %>
    </span>
  </div>

  <div class="card-footer text-muted">
    Voluntário há <%= time_ago_in_words(@voluntario.created_at) %>
  </div>

</div>
