<div class="container admin-txt-top">
  <br>
  <h4 class="text-center admin-txt">Olá, <span class="admin-welcome text-primary"><%= current_user.name.titleize %></span>!</h4>
  <br>

  <ul class="list-group list-group-horizontal">
    <li class="list-group-item text-center d-flex justify-content-between align-items-center" style="background-color: #007bff;">
      <i class="fa fa-user-alt text-light"></i></li>
    <li class="list-group-item w-100">
      <b>Última pessoa cadastrada:</b> <%= link_to @pessoa.nome, @pessoa, class: "nmb-link" %>
    </li>
  </ul>

  <br>

  <ul class="list-group list-group-horizontal">
    <li class="list-group-item text-center d-flex justify-content-between align-items-center" style="background-color: #007bff;">
      <i class="fas fa-shapes text-light"></i></li>
    <li class="list-group-item w-100">
      <b>Última atividade cadastrada:</b> <%= link_to @atividade.nome, @atividade, class: "nmb-link" %>
    </li>
  </ul>

  <br>

  <ul class="list-group list-group-horizontal">
    <li class="list-group-item text-center d-flex justify-content-between align-items-center" style="background-color: #007bff;">
      <i class="fas fa-id-card-alt text-light"></i></li>
    <li class="list-group-item w-100">
      <b>Último voluntário cadastrado:</b> <%= link_to @voluntario.nome, @voluntario, class: "nmb-link" %>
    </li>
  </ul>

<br>

<div class="card-deck justify-content-center">
    <div class="card">
      <div class="card-body text-center">
        <div class="h1 m-0 text-primary"><%= link_to @pessoas, pessoas_path, class: "nmb-link" %></div>
        <div class="text-muted mt-1">Pessoas cadastradas</div>
      </div>
    </div>

    <div class="card">
      <div class="card-body text-center">
        <div class="h1 m-0 text-primary"><%= link_to @atividades, atividades_path, class: "nmb-link" %></div>
        <div class="text-muted mt-1">Total de atividades</div>
      </div>
    </div>

    <div class="card">
      <div class="card-body text-center">
        <div class="h1 m-0 text-primary"><%= link_to @voluntarios, voluntarios_path, class: "nmb-link" %></div>
        <div class="text-muted mt-1">Voluntários cadastrados</div>
      </div>
    </div>

    <div class="card">
      <div class="card-body text-center">
        <div class="h1 m-0 text-primary"><%= link_to @eventos, admin_eventos_proximos_eventos_path, class: "nmb-link" %></div>
        <div class="text-muted mt-1">Eventos em <%= l Date.today, format: :month_only %></div>
      </div>
    </div>
  </div>

<br>

<h3 class="mb-4 text-center mt-2 admin-txt">Aniversários - <%= l Date.today, format: :month_only %></h3>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <h5 class="mb-3 text-primary text-center"><b>Alunos</b></h5>
    <% if @proximos_aniversarios.blank? %>
      <p class="b-day text-center mt-2 text-primary">Nenhum aniversário a ser exibido.</p>
    <% end %>
    <% @proximos_aniversarios.each do |pessoa| %>
      <% if pessoa.dt_nascimento.day == Date.today.day %>
        <div class="card mb-2">
          <div class="card-body">
            <span class="b-day"><i class="fas fa-birthday-cake text-primary"></i> <b><%= pessoa.dt_nascimento.day %></b> - <%= pessoa.nome %></span>
          </div>
        </div>
      <% else %>
      <div class="card mb-2">
        <div class="card-body">
          <span class="b-day"><b><%= pessoa.dt_nascimento.day %></b> - <%= pessoa.nome %></span>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-6 col-sm-12">
    <h5 class="mb-3 text-primary text-center"><b>Voluntários</b></h5>
    <% if @proximos_aniversarios_v.blank? %>
      <p class="b-day text-center mt-2 text-primary">Nenhum aniversário a ser exibido.</p>
    <% end %>
    <% @proximos_aniversarios_v.each do |voluntario| %>
      <% if voluntario.dt_nascimento.day == Date.today.day %>
        <div class="card mb-2">
          <div class="card-body">
            <span class="b-day"><i class="fas fa-birthday-cake text-primary"></i> <b><%= voluntario.dt_nascimento.day %></b> - <%= voluntario.nome %></span>
          </div>
        </div>
      <% else %>
      <div class="card mb-2">
        <div class="card-body">
          <span class="b-day"><b><%= voluntario.dt_nascimento.day %></b> - <%= voluntario.nome %></span>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>
