<%= render 'menu' %>

<h1>Página inicial - Eventos</h1>

<!-- Tabela de eventos -->
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Nome</th>
      <th>Data</th>
      <th>Hora</th>
      <th>Local<th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <td><%= evento.nome %></td>
        <td><%= evento.data%></td>
        <td><%= evento.hora %></td>
        <td><%= evento.local %></td>
        <td><%= link_to 'Ver', evento %></td>
        <td><%= link_to 'Editar', edit_evento_path(evento) %></td>
        <td><%= link_to 'Apagar', evento_path(evento), method: :delete, data: { confirm: 'Tem certeza que deseja apagar o evento selecionado?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Tabela de eventos -->
<h3>Próximos Eventos</h3>

<% @eventos.each do |evento| %>
<div class="card">
  <div class="card-body">
    <%= evento.nome %>
  </div>
</div>
<% end %>

<div class="card-deck">
  <% @eventos.each do |evento| %>
      <div class="card mb-2">
        <div class="card-header">
          <h4 class="card-title"><%= evento.nome %></h4>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= evento.data %>, às <%= evento.hora %></h5>
          <p class="card-text"><%= evento.local %></p>
          <p class="card-text"><%= evento.descricao %></p>
          <a href="#" class="btn btn-primary">Editar</a>
          <a href="#" class="btn btn-danger">Apagar</a>
        </div>
      </div>
  <% end %>
</div>
