<h1>Página inicial - Eventos</h1>

<!-- Menu -->
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">Criar novo evento</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Página de formulários</a>
  </li>
</ul>
<!-- Fim do menu -->

<div class="card-deck">

<% @eventos.each do |evento| %>

    <div class="card mb-2">
      <div class="card-header">
        <h4 class="card-title"><%= evento.nome %></h4>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= evento.data %>, às <%= evento.hora %></h5>
        <p class="card-text"><%= evento.local %></p>
        <p class="card-text"><%= evento.descricao %></p>
        <a href="#" class="btn btn-primary">Teste</a>
      </div>
    </div>

<% end %>

</div>
