<%= render 'menu' %>

<h2>Próximos Eventos</h2>
<br>
<h3><%= Date.today.strftime("%B") %></h3>
<div class="card-deck">
    <% @proximos_eventos.order(data: :asc, hora: :asc).each do |evento| %>
    <div class="card">
      <div class="card-body">
        <h5><b><%= evento.nome %></b><br></h5>
        <b>Local: </b><%= evento.local %><br>
        <b>Dia: </b><%= evento.data %>, às <%= evento.hora %><br>
        <%= evento.descricao %><br>
      </div>
    </div>
    <% end %>
</div>

<div class="card">
  <div class="card-body">
    31 - Teste
  </div>
</div>
