<h3>Teste: próximos eventos</h3>
<% @proximos_eventos.order(data: :asc, hora: :asc).each do |evento| %>
<b><%= evento.nome %></b><br>
<b>Local: </b><%= evento.local %><br>
<b>Dia: </b><%= evento.data %>, às <%= evento.hora %><br>
<%= evento.descricao %><br>
<% end %>
