<h1>Criar Evento</h1>

<div class="section">
  <%= simple_form_for @evento do |f| %>
    <%= f.input :nome, input_html: { class: 'form-control'} %>
    <%= f.input :data, input_html: { class: 'form-control'} %>
    <%= f.input :hora, input_html: { class: 'form-control'} %>
    <%= f.input :local, input_html: { class: 'form-control'} %>
    <%= f.input :descricao, input_html: { class: 'form-control'} %>
    <%= f.button :submit, 'Criar novo evento', class: "btn btn-primary"%>
  <% end %>
</div>
