<h1 class="h1-evt">Próximos eventos</h1>
<br>

<div class="container">

  <h3 class="admin-title"><%= l Date.today, format: :month_only %></h3>

  <% if @proximos_eventos.blank? %>
    <h5>Não há eventos agendados para este mês.<h5>
  <% end %>

  <% @proximos_eventos.order(data: :asc, hora: :asc).each do |evento| %>
      <div class="col-md-12 mb-4">
        <div class="card-event my-auto" style="background-color: #f0f0f0; padding: 20px 20px; border-left: 5px solid #05afea;">
          <h4 class="align-middle"><b><%= evento.data.day %></b> - <%= evento.nome %></h4>
          <p class="align-middle"><i class="fas fa-map-marker-alt c-icon"></i><%= evento.local %> - <%= evento.descricao %></p>
          <%= link_to 'Editar', edit_evento_path(evento), class: 'btn btn-outline-primary btn-next' %>
          <%= link_to 'Apagar', evento_path(evento), class: 'btn btn-outline-danger btn-next', method: :delete, data: { confirm: 'Tem certeza que deseja apagar o evento selecionado?' } %>
        </div>
      </div>
  <% end %>
</div>

<%#= l evento.data, format: :short %>
