<div class="jumbotron">
  <h2 class="display-4"><%= @evento.nome %></h2>
  <p class="lead"><br><%=@evento.descricao%></p>
  <hr class="my-4">
  <p><%= @evento.data %>, às <%=@evento.hora%><br><%=@evento.local%></p>
</div>
