<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/8d9d868ad3.js" crossorigin="anonymous"></script>

<!-- Menu -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="/.."><img class="navbar-brand logotipo" src="/assets/ui.png" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active nav-texto">
        <%= link_to "Início", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item nav-texto">
        <%= link_to "Sobre Nós", pages_sobre_path, class: "nav-link" %>
      </li>
      <li class="nav-item nav-texto">
        <%= link_to "Atividades", pages_atividades_path, class: "nav-link" %>
      </li>
      <li class="nav-item nav-texto">
        <%= link_to "Aulas", pages_aulas_path, class: "nav-link" %>
      </li>
      <li class="nav-item nav-texto">
        <%= link_to "Eventos", pages_eventos_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fab fa-facebook"></i></a>
      </li>
    </ul>
  </div>
</nav>
<!-- End of Menu -->
