<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/8d9d868ad3.js" crossorigin="anonymous"></script>

<!-- Menu -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">

  <%= inline_svg("logoedit-01.svg", class: "navbar-brand logotipo", style: "cursor: pointer;") %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ul-menu">
      <li class="nav-item active nav-texto">
        <%= link_to "Início", root_path, class: "nav-link nav-teste" %>
      </li>
      <li class="nav-item nav-texto">
        <%= link_to "Sobre Nós", sobre_path, class: "nav-link nav-teste" %>
      </li>
      <li class="nav-item nav-texto">
        <%= link_to "Projetos", projetos_path, class: "nav-link nav-teste" %>
      </li>
      <li class="nav-item nav-texto">
        <%= link_to "Atividades", atividades_info_path, class: "nav-link nav-teste" %>
      </li>
      <li class="nav-item nav-texto">
        <%= link_to "Eventos", eventos_info_path, class: "nav-link nav-teste" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://facebook.com/pg/ccnmedianeira" target="_blank"><i class="fab fa-facebook"></i></a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to ('Preferências'), edit_user_registration_path, class: 'dropdown-item'%>
            <%= link_to ('Sair'), destroy_user_session_path, class: 'dropdown-item', method: :delete %>
          </div>
        </li>
      <% end %>

    </ul>
  </div>
</nav>

<!-- End of Menu -->

<script>
  $(".logotipo").click(function(){
    var go_to_url = "/";
    window.open(go_to_url, '_self');
  });
</script>
