<script src="https://kit.fontawesome.com/8d9d868ad3.js" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body style="background-color: rgba(240, 240, 240, 0.75);">

<%= render 'menu_p' %>

<h2 class="title-txt text-center">Atividades</h2>
<br>
<div class="container-fluid sec-esporte">

<% @atividades.order(nome: :asc).each do |atividade| %>
<div class="row no-gutters ativ-card align-items-center">
  <div class="col-md-4 col-sm-12 new-break">
    <%= image_tag(atividade.link_imagem, :class => "img-fluid teste-obj", alt:"...")%>
  </div>

  <div class="col-md-8 px-5 bg-white py-4 new-break-content">
    <h2 class="card-title tit-esporte mt-2"><%=atividade.nome%></h2>
    <p class="card-txt"><%= atividade.descricao %></p>
      <hr>
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12">
        <p style="font-size: 19px;">Disponibilidade de horário</p>
        <p class="card-txt"><button type="button" class="btn btn-primary btn-inscricoes no-bkg badge-pill px-3 py-1 mr-2 btn-hour">
          <%= atividade.dias_semana %></button>- <%= atividade.horario %> </p>
      </div>
      <% atividade.voluntarios.each do |voluntario| %>

          <div class="col-lg-3 col-md-3 col-sm-12">
            <p style="font-size: 19px;">Professor(a)</p>
            <p class="card-txt teacher" data-toggle="tooltip" data-placement="top" title="Voluntário(a) há <%= time_ago_in_words(voluntario.dt_entrada) %>
              <% if voluntario.especializacao.present? %> Formação em <%= voluntario.especializacao%> <% end %>">
              <b><%= voluntario.nome %></b>
            </p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <p style="font-size: 19px;">Local</p>
            <p class="card-txt">Centro Comunitário Nossa Senhora Medianeira</p>
          </div>
          <div class="text-center col-md-12" style="font-size: 19px;">
          Lotação: <%= atividade.pessoas.count %>/<%= atividade.qtd_max_alunos %> -
          <% if atividade.pessoas.count == atividade.qtd_max_alunos %>
            <b>Não há vagas disponíveis nesta atividade</b>
          <% else %>
            <b><%= atividade.qtd_max_alunos.to_i - atividade.pessoas.count %> vagas disponíveis</b>
            <div class="col-md-12 d-flex justify-content-center">
              <button type="button" class="btn btn-primary btn-inscricoes p-btn mt-4">Inscrições</button>
            </div>
          <% end %>
          </div>
    </div>
  </div>
</div>
<br>

      <% end %>
<% end %>

</div>
<!-- Modal -->
<div class="modal fade in" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><b>Professora Patrícia Fernandes</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Voluntária desde 02/10/2018<br>
        Formada em Educação Física e Pedagogia
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- Fim do Balé -->

</body>
<%= render 'footer' %>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
