<script src="https://kit.fontawesome.com/8d9d868ad3.js" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body style="background-color: rgba(240, 240, 240, 0.75);">

<%= render 'menu_p' %>

<h2 class="title-txt text-center">Atividades</h2>
<br>

<div class="container-fluid sec-esporte">

  <!-- Balé -->
  <div class="row no-gutters ativ-card align-items-center">
    <div class="col-md-4 col-sm-12 new-break">
      <%= image_tag("bale_5.jpg", :class => "img-fluid obj-teste", alt:"...")%>
    </div>

    <div class="col-md-8 px-5 bg-white py-4 new-break-content">
      <h2 class="card-title tit-esporte mt-2">Balé</h2>
      <p class="card-txt">As aulas de Balé proporcionam às crianças e adolescentes o fortalecimento da musculatura das pernas,
        a postura do corpo, a coordenação motora, a disciplina da mente e corpo e sobretudo noções de localização
        e orientação de espaço.</p>
        <hr>
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-12">
            <p style="font-size: 19px;">Disponibilidade de horário</p>
            <p class="card-txt"><button type="button" class="btn btn-primary btn-inscricoes no-bkg badge-pill px-3 py-1 mr-2">
              Sábados</button>- 9 às 11 horas</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <p style="font-size: 19px;">Professor(a)</p>
            <p class="card-txt teacher" data-toggle="tooltip" data-placement="top" title="Voluntária desde 2013 Formada em Educação Física">
              <b>Patrícia Fernandes</b>
            </p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <p style="font-size: 19px;">Local</p>
            <p class="card-txt">Centro Comunitário Nossa Senhora Medianeira</p>
          </div>
          <div class="text-center col-md-12" style="font-size: 19px;">Vagas: 25/30 - <b>5 vagas disponíveis</b></div>
          <div class="col-md-12 d-flex justify-content-center">
            <button type="button" class="btn btn-primary btn-inscricoes p-btn mt-4">Inscrições</button>
          </div>
        </div>
      </div>
    </div>
    <br>

    <!-- Karatê -->
    <div class="row no-gutters align-items-center ativ-card">
      <div class="col-md-4 new-break">
        <%= image_tag("karate_2.jpg", :class => "img-fluid teste-obj obj-teste", alt:"...")%>
      </div>
      <div class="col-md-8 px-5 bg-white new-break-content py-4">
        <h2 class="card-title tit-esporte">Karatê</h2>
        <p class="card-txt">O Karatê proporciona grande condicionamento cardiovascular, muscular e desenvolve a coordenação motora.
          A arte marcial exige exercício mental em que o lutador passa a criar estratégias e aprende a controlar
          as suas emoções. Faixa etária: de 7 a 14 anos.</p>
          <hr>
          <div class="row">
            <div class="col-md-5">
              <p style="font-size: 19px;">Disponibilidade de horário</p>
              <p class="card-txt">
                <button type="button" class="btn btn-primary btn-inscricoes no-bkg badge-pill px-3 py-1 mr-2 btn-hour">
                  Qua/Qui/Sex</button>- 9 às 11 horas
                </p>
            </div>
            <div class="col-md-3">
              <p style="font-size: 19px;">Professor(a)</p>
              <p class="card-txt teacher" data-toggle="tooltip" data-placement="top"
              title="Voluntária desde 2013 Formada em Educação Física"><b>Neto / Juscelino / Júnior</b></p>
            </div>
            <div class="col-md-4">
              <p style="font-size: 19px;">Local</p>
              <p class="card-txt">Centro Comunitário Nossa Senhora Medianeira</p>
            </div>
            <div class="text-center col-md-12" style="font-size: 19px;">Vagas: 25/30 - <b>5 vagas disponíveis</b></div>
            <div class="col-md-12 d-flex justify-content-center">
              <button type="button" class="btn btn-primary btn-inscricoes p-btn mt-4">Inscrições</button>
            </div>
          </div>
        </div>
      </div>

      <br>
      <!-- Muay Thay -->
      <div class="row no-gutters ativ-card">
        <div class="col-md-4">
          <%= image_tag("mtay.jpg", :class => "img-fluid teste-obj", alt:"...")%>
        </div>
        <div class="col-md-8 px-5 bg-white py-4">
          <h2 class="card-title tit-esporte mt-2">Muay Thay</h2>
          <p class="card-txt">As aulas trazem benefícios para os jovens e adultos. Desenvolve habilidades de autodefesa,
            ensina a conviver com os outros, melhora a coordenação motora, o raciocínio, o equilíbrio mental, torna ágil
            e ensina, sobretudo, a disciplina.</p>
            <hr>
            <div class="row no-gutters">
              <div class="col-md-5">
                <p style="font-size: 19px;">Disponibilidade de horário</p>
                <p class="card-txt">
                  <button type="button" class="btn btn-primary btn-inscricoes no-bkg badge-pill px-3 py-1 mr-2">
                    Qua/Qui/Sex</button>- 9 às 11 horas
                  </p>
              </div>
              <div class="col-md-3">
                <p style="font-size: 19px;">Professor(a)</p>
                <p class="card-txt">Brayner CB</p>
              </div>
              <div class="col-md-4">
                <p style="font-size: 19px;">Local</p>
                <p class="card-txt">Centro Comunitário Nossa Senhora Medianeira</p>
              </div>
              <div class="text-center col-md-12" style="font-size: 19px;">Lotação: 25/30 - <b>5 vagas disponíveis</b></div>

              <div class="col-md-12 d-flex justify-content-center">
                <button type="button" class="btn btn-primary btn-inscricoes p-btn mt-4">Inscrições</button>
              </div>
            </div>
          </div>
        </div>
</div>

<br>
<br>

<!-- Modal -->
<div class="modal fade in" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><b>Professora Patrícia Fernandes</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Voluntária desde 02/10/2018<br>
        Formada em Educação Física e Pedagogia
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- Fim do Balé -->

</body>
<%= render 'footer' %>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
