<%= render 'menu_p' %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha256-HAaDW5o2+LelybUhfuk0Zh2Vdk8Y2W2UeKmbaXhalfA=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js" integrity="sha256-jGAkJO3hvqIDc4nIY1sfh/FPbV+UK+1N+xJJg6zzr7A=" crossorigin="anonymous"></script>

<div class="container">
  <h3 class="title-txt text-center text-justify">5 anos da presença das Irmãs do Preciosíssimo Sangue</h3>
  <p class="text-justify text-center"><b>Em agosto de 2019, completamos 5 anos da existência do Centro Comunitário Nossa Senhora Medianeira.</b></p>

  <p class="text-justify">
  Apesar das dificuldades, temos muitos momentos de alegria, e é a estes momentos que somos gratas. É muito bom saber que podemos
  contar com nossos voluntários e com as pessoas que colaboraram de alguma maneira ao Centro. São pessoas que se doam, e nós,
  como religiosas, apreciamos esse contato com leigos e ver o amor com que fazem esse trabalho. O Frei Edson, nosso pároco,
  também sempre nos auxiliou e continua nos apoiando em tudo que é decidido para o bem do próximo.<br>
  </p>

  <p class="text-justify">
  Essa realidade muito precisa de nossa ajuda, e vemos o quanto é desafiante. Para nós, apesar de tudo que acontece, vemos
  que as alegrias são maiores. Ver o crescimento de cada mãe, cada criança que participa de alguma forma, para nós, é
  muito gratificante, não tem preço. Somos felizes porque podemos servir àquelas pessoas que precisam de nós,
  e é uma alegria estar à disposição delas. Somos muito gratas por participar dessa comunidade,
  que completa apenas 5 anos, mas que já fez um belo trabalho em Fortaleza, na Paróquia Nossa Senhora das Dores.
  </p>
</div>

<br>

<div class="container d-flex">
  <div class="row no-gutters">

    <div class="col-sm-4">
      <%= link_to image_tag('ips_1.jpg', class: "img-fluid about-img"), 'https://github.com/andreaflether/projeto_medianeiras/blob/master/app/assets/images/ips_1.jpg?raw=true',
       data:{ title:'Evento - 5 anos de presença das irmãs do Preciosíssimo Sangue', toggle:'lightbox', gallery:'example-gallery'}, class: "img-fluid about-img",
       data: {toggle: "tooltip", placement: "left"}, title: "Ver foto"%>
      <%= link_to image_tag('ips_2.jpg', class: "img-fluid about-img"), 'https://github.com/andreaflether/projeto_medianeiras/blob/master/app/assets/images/ips_2.jpg?raw=true',
       data:{ title:'Evento - 5 anos de presença das irmãs do Preciosíssimo Sangue', toggle:'lightbox', gallery:'example-gallery'}, class: "img-fluid about-img",
       data: {toggle: "tooltip", placement: "left"}, title: "Ver foto"%>
    </div>

    <div class="col-sm-4">
      <%= link_to image_tag('ips_6.jpg', class: "img-fluid about-img"), 'https://github.com/andreaflether/projeto_medianeiras/blob/master/app/assets/images/ips_6.jpg?raw=true',
       data:{ title:'Evento - 5 anos de presença das irmãs do Preciosíssimo Sangue', toggle:'lightbox', gallery:'example-gallery'}, class: "img-fluid about-img",
       data: {toggle: "tooltip", placement: "bottom"}, title: "Ver foto"%>
       <%= link_to image_tag('ips_7.jpg', class: "img-fluid about-img"), 'https://github.com/andreaflether/projeto_medianeiras/blob/master/app/assets/images/ips_7.jpg?raw=true',
        data:{ title:'Evento - 5 anos de presença das irmãs do Preciosíssimo Sangue', toggle:'lightbox', gallery:'example-gallery'}, class: "img-fluid about-img",
        data: {toggle: "tooltip", placement: "bottom"}, title: "Ver foto"%>
    </div>

    <div class="col-sm-4">
      <%= link_to image_tag('ips_8.jpg', class: "img-fluid about-img"), 'https://github.com/andreaflether/projeto_medianeiras/blob/master/app/assets/images/ips_8.jpg?raw=true',
       data:{ title:'Evento - 5 anos de presença das irmãs do Preciosíssimo Sangue', toggle:'lightbox', gallery:'example-gallery'}, class: "img-fluid about-img",
       data: {toggle: "tooltip", placement: "right"}, title: "Ver foto"%>
       <%= link_to image_tag('ips_11.jpg', class: "img-fluid about-img"), 'https://github.com/andreaflether/projeto_medianeiras/blob/master/app/assets/images/ips_11.jpg?raw=true',
        data:{ title:'Evento - 5 anos de presença das irmãs do Preciosíssimo Sangue', toggle:'lightbox', gallery:'example-gallery'}, class: "img-fluid about-img",
        data: {toggle: "tooltip", placement: "right"}, title: "Ver foto"%>
    </div>

  </div>
</div>

<h3 class="title-txt text-center">Vídeo</h3>
<div class="row text-center justify-content-center align-items-center">
  <div class="col-md-8 embed-responsive embed-responsive-16by9 d-flex">
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fccnmedianeira%2Fvideos%2F1482307078577486%2F&show_text=0&width=560"
    width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
  </div>
</div>

<br>

<h3 class="title-txt text-center">Próximos eventos - <%= l Date.today, format: :month_only %></h3>
  <div class="container mt-4">
    <% if @proximos_eventos.blank? %>
    <h5 class="text-center">Não há eventos agendados para este mês.</h5>
    <% else %>
    <% @proximos_eventos.order(data: :asc, hora: :asc).limit(5).each do |evento| %>
    <div class="row justify-content-center mt-2">
      <div class="col-md-2 mr-3">
        <h3><span class="badge badge-primary bl-color"><%= l evento.data, format: :day_month %></span></h3>
      </div>
      <div class="col-md-6 mt-1">
        <h4 class="mb-3 evt-title"><strong><%= evento.nome %></strong></h4>
        <p class="mb-2"><i class="fas fa-map-marker-alt c-icon"></i><em><%= evento.local %></em> - <%= evento.hora %></p>
        <span class="small"><%= evento.descricao %></span>
      </div>
    </div>
    <br>
    <% end %>
  <% end %>
</div>

<%= render 'footer' %>

<script>
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
</script>
