<title>Centro Comunitário Nossa Senhora Medianeira</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v5.0"></script>

<%= render 'menu_p' %>

<!-- Carousel -->
<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("irmas_home.jpg", :class => "d-block w-100", alt:"Responsáveis pelo Centro Comunitário")%>
        <div class="carousel-caption d-none d-md-block">
          <h5>Irmãs do preciocíssimo sangue</h5>
          <p>Responsáveis pelo Centro Comunitário - Irmãs Niêde, Josmárcia e Maria</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("bale_3_home.jpg", :class => "d-block w-100", alt:"Alunas de balé")%>
        <div class="carousel-caption d-none d-md-block">
          <h5>Atividade - BALÉ</h5>
          <p>Alunas do curso de balé com a professora Patrícia Fernandes</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("ips_10_home.jpg", :class => "d-block w-100", alt:"")%>
        <div class="carousel-caption d-none d-md-block">
          <h5>Evento - 5 anos das irmãs do preciocíssimo sangue</h5>
          <p>Com a presença da comunidade</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("ips_11.jpg", :class => "d-block w-100", alt:"")%>
        <div class="carousel-caption d-none d-md-block">
          <h5>Evento - 5 anos das irmãs do preciocíssimo sangue</h5>
          <p>Com a presença da comunidade</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>
</div>
<!-- End of Carousel -->

  <div class="container">
   <div class="row">
     <div class="col">
       <h3 class="title-txt text-center">Bem-vindo(a)!</h3>
       <p class="text-justify">O Centro Comunitário Nossa Senhora Medianeira é uma porta aberta para <b>acolher, receber, facilitar o encontro e a partilha na contínua
         troca de bens e vivências </b>que é a relação humana, todos com o mesmo objetivo em comum, que é a esperança de um futuro melhor através
         da caridade. Contamos com um corpo de colaboradores profissionais e voluntários que procuram dar resposta à diversidade
         de situações dos que o procuram. <b>Qualquer tipo de ajuda é importante para nós.</b><br></p>
      </div>
    </div>
    <div class="row text-center justify-content-center align-items-center row-test">
     <div class="col md-4">
       <p class="text-justify">
         O site que inauguramos pretende dar a oportunidade de todos conhecerem as nossas atividades, serviços e cursos, a
         qualidade e esforço do nosso trabalho e principalmente, mobilizar colaboradores e apoiantes.
         Para cumprir a nossa missão, precisamos da colaboração dos nossos voluntários e ajuda dos nossos parceiros.
         A nossa porta está aberta para todos. É através dela que esperemos aumentar o espaço de convívio
         e a prática de uma proximidade solidária ativa, eficiente e voluntária.
       </p>
     </div>
    </div>

     <div class="row text-center justify-content-center align-items-center">
       <div class="col-md-8 embed-responsive embed-responsive-16by9 d-flex">
         <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XMBO9gtPaZE" frameborder="0"
         allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>
     </div>
  </div>
<br>
<h3 class="title-txt text-center mt-5 mb-4">Próximos eventos - <%= l Date.today, format: :month_only %></h3>

<div class="container">
  <% if @proximos_eventos.blank? %>
    <h5 class="text-center mb-4">Não há eventos agendados para este mês.</h5>
  <% end %>

  <% @proximos_eventos.order(data: :asc, hora: :asc).limit(4).each do |evento| %> <!-- Início do loop -->
      <div class="row justify-content-center mt-2">
        <div class="col-md-2 mr-3">
          <h3><span class="badge badge-primary bl-color"><%= l evento.data, format: :day_month %></span></h3>
        </div>
        <div class="col-md-6 mt-1">
          <h4 class="mb-3"><strong><%= evento.nome %></strong></h4>
          <p class="mb-2"><i class="fas fa-map-marker-alt c-icon"></i><em><%= evento.local %></em> - <%= evento.hora %></p>
          <span class="small"><%= evento.descricao %></span>
        </div>
      </div>
    <br>
  <% end %> <!-- Fim do loop -->
    <div class="col-lg-12 mt-2 mb-2">
      <div class="row justify-content-md-center justify-content-sm-center btn-row">
      <%= link_to 'Ver todos os eventos', eventos_path, class: 'btn btn-outline-secondary badge-pill px-4' %>
      </div>
    </div>
</div>

<br>

<h3 class="title-txt text-center">Como você pode nos ajudar</h3>

<div class="container">
  <div class="row justify-content-md-center">

    <div class="col-md-12 col-sm-12 col-lg-8">
      <div class="card-event text-center" style="background-color: #F0F0F0; height: auto; padding: 20px 20px;">
        <h5><b>O Centro Comunitário Nossa Senhora Medianeira recebe qualquer tipo de doações, como:</b></h5>
        <p class="align-middle">Alimentos, roupas, material de higiene e limpeza, material escolar, móveis e eletrodomésticos.
          Estamos portas abertas para receber você. <br> </p>
          <div class="mt-3" style="font-size: 14px;">
            <div class="ml-2">
              <b>Rua Clarindo de Queiroz, 2018 - Farias Brito. CEP: 60035-130</b> <br>
              Cidade: Fortaleza/CE. <br>
              Fones: (85) 0000-0000 – (85) 00000-0000
            </div>
          </div>
        </div>

      <br>

      <div class="row no-gutters">
        <div class="col-sm-12 col-md-12 col-lg-6 mx-auto text-center" style="color: black;">
          <div class="card-event my-auto card-event-blue" style="background-color: #05afea; padding: 20px 20px;">
            <h5><b>Seja um Voluntário</b></h5>
            <p class="text-justify text-center">Precisamos de pessoas para atender a demanda crescente. Conheça todos
            os nossos projetos clicando <a href="/pages/projetos" class="text-white">aqui.</a></p>
            <a href="http://facebook.com/pg/ccnmedianeira"><button type="button" class="btn btn-outline-light btn-ajuda">Junte-se a nós</button></a>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mx-auto my-auto text-center" style="color: black;">
          <div class="card-event card-event-yellow" style="background-color: #FADA5E; padding: 20px 20px;">
            <h5><b>Torne-se Parceiro</b></h5>
            <p class="text-justify text-center">Ajude-nos a continuar com as nossas atividades. Junte-se ao demais parceiros
              e vamos todos juntos por essa causa.</p>
            <a href="#"><button type="button" class="btn btn-outline-dark btn-ajuda">Ser parceiro</button></a>
          </div>
        </div>
      </div>

      <br>
    </div>

      <div class="col-lg-4 col-sm-12 col-md-12 text-center">
        <div class="fb-page embed-responsive" data-href="https://www.facebook.com/ccnmedianeira" data-tabs="timeline" data-width="500" data-height=""
         data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
         <blockquote cite="https://www.facebook.com/ccnmedianeira" class="fb-xfbml-parse-ignore">
          <a href="https://www.facebook.com/ccnmedianeira">Centro Comunitário Nossa Senhora Medianeira</a></blockquote></div>
      </div>
    </div>
  </div>
<%= render 'footer' %>
