<%= render 'menu_p' %>
<h3 class="title-txt text-center">Projetos do Centro Comunitário</h3>

<!-- Bazar -->
<div class="container">
  <h3 class="card-title text-center title-bazar tit-sec">Bazar Solidário</h3>
  <p class="card-text text-justify txt-bazar">O bazar solidário é o recolhimento de doações (roupas, sapatos, bijuterias, etc.). No primeiro momento
  do bazar, as mulheres se encontram toda <b>quarta feira</b> e fazem a seleção de tudo que chega durante a semana;
  no <b>sábado</b> acontecem as vendas. As arrecadações são direcionadas para projetos sociais do Centro Comunitário.</p>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag("bazar_1.jpg", :class => "img-fluid", alt:"Bazar")%>
    </div>
    <div class="col-md-4">
      <%= image_tag("bazar_2.jpg", :class => "img-fluid", alt:"Bazar")%>
    </div>
    <div class="col-md-4">
      <%= image_tag("bazar_3.jpg", :class => "img-fluid", alt:"Bazar")%>
    </div>
  </div>
  <br>
</div>
<!-- Bazar -->

<!-- Laboratório de Práticas Manuais -->
<div class="container">
  <hr class="hr-praticas">
  <h3 class="card-title text-center ativ-text tit-sec">Laboratório de Práticas Manuais</h3><br>
  <div class="row no-gutters align-items-center">
    <div class="col-md-4">
      <%= image_tag("fuxico.png", :class => "card-img pt-2", alt:"Fuxico")%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text text-justify">Com a intenção de ajudar quem passa por dificuldades, oferecemos os cursos de fuxico, artesanato e bordado.
        Sabemos que estes cursos são muito procurados e tornamos isso uma oportunidade de ensinar às mães para
        tirá-las da ociosidade e servir como fonte de renda.</p>
        <hr class="ativ-hr">
        <i class="fas fa-chalkboard-teacher c-icon"></i> Professoras Lucivalda e Mayla |
        <i class="far fa-calendar-alt c-icon"></i> Toda quinta-feira, das 14h às 16h30
      </div>
    </div>
  </div>
</div>
<!-- Laboratório de Práticas Manuais -->

<!-- Reforço Escolar -->
<div class="container">
  <hr class="hr-praticas">
  <h3 class="card-title text-center ativ-text tit-sec">Reforço Escolar</h3>
  <div class="row no-gutters align-items-center">
    <div class="col-md-4">
      <%= image_tag("pastoral-do-menor.png", :class => "card-img", alt:"Reforço Escolar")%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="text-justify">Motivar as crianças e adolescente de suas potencialidades e confiança em si mesmo para resolver as tarefas
        que trazem da escola. Sabemos que é necessário aumentar suas notas, pois com o reforço cotidiano, passam a adquirir
        mais conhecimentos e rapidez nas atividades escolares.</p>
      </div>
    </div>
  </div>
</div>
<!-- Reforço Escolar -->

<br>
<h3 class="title-txt text-center mt-4">Trabalhos Pastorais</h3>

<!-- Pastoral do Menor -->
<div class="container mb-2">
  <div class="row no-gutters">
    <div class="col">
      <div class="card promulher-card">
        <div class="card-horizontal align-items-center justify-content-center">
          <div class="img-square-wrapper">
            <i class="fas fa-hands others-icon"></i>
          </div>
          <div class="card-body">
            <p class="card-text text-justify"><b>Pastoral do Menor:</b> É uma das pastorais sociais da igreja. São desenvolvidas atividades de inclusão social para as crianças
            e adolescentes em situação de risco no meio urbano. Através do apoio pedagógico e atividades culturais, esportivas e de lazer,
            temos a intenção de um desenvolvimento integral da pessoa.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fim Pastoral do Menor -->

<!-- Pastoral da Criança -->
<div class="container mb-2">
  <div class="row no-gutters">
    <div class="col">
      <div class="card promulher-card">
        <div class="card-horizontal align-items-center justify-content-center">
          <div class="img-square-wrapper">
            <i class="fas fa-hand-holding-heart others-icon"></i>
          </div>
          <div class="card-body">
            <p class="card-text text-justify"><b>Pastoral da Criança:</b> Atende às crianças e gestantes da nossa comunidade.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fim Pastoral da Criança -->

<!-- Projeto Crescer É Preciso -->
<div class="container mb-2">
  <div class="row no-gutters">
    <div class="col">
      <div class="card promulher-card">
        <div class="card-horizontal align-items-center justify-content-center">
          <div class="img-square-wrapper">
            <i class="fas fa-praying-hands others-icon"></i>
          </div>
          <div class="card-body">
            <p class="card-text text-justify"><b>Projeto Crescer É Preciso e Catequese:</b> É um encontro em que as irmãs reúnem as crianças no sábado para ensinar as crianças
            a rezar, como se comportar, fazer atividades lúdicas, teatro, etc.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="mt-2">Temos também os trabalhos pastorais abertos da Paróquia Nossa Senhora das Dores, na qual fazemos parte: Santa Missa, reuniões,
  encontros de espiritualidade com os catequistas, entre outros.</p>
</div>
<!-- Fim Projeto Crescer É Preciso -->

<br>

<!-- Promulher -->
<h3 class="title-txt text-center">Projetos Unifametro</h3>
<br>

<div class="container">
  <div class="row d-flex">
    <div class="col-md-4 text-center pr-3 pl-3">
      <%= image_tag("promulher_logo.png", :class => "img-fluid", alt:"Logo Promulher")%>
    </div>
    <div class="col-md-8">
      <p class="text-justify"> O <b>PROMULHER – Promovendo a Cidadania da Mulher</b> é uma iniciativa da Coordenação do Curso de Graduação em Serviço Social e visa promover o
      aprimoramento da formação profissional dos estudantes através de uma experiência de intervenção no âmbito da formação política e cidadã junto a grupos de mulheres -
      adolescentes, jovens e idosas em situação de vulnerabilidade social. Essa parceria do Centro Comunitário com a faculdade pretende
      intensificar a função social da IES junto às comunidades do entorno.<br><br>
      O projeto é coordenado pelas professoras Ângela Madeiro e Edna Leite e tem como monitores os discentes Rafaella Helen Alves,
      Pedro Lucas Nunes, Mariano do Carmo e Ana Elisabeth da Silva.
      Esse projeto é iniciativa do Núcleo Docente Estruturante (NDE) e da coordenação do curso de Serviço Social da Unifametro e
      visa promover o aprimoramento da formação profissional dos estudantes através de uma experiência de intervenção no âmbito da
      formação política e cidadã junto a grupos de mulheres – adolescentes, jovens e idosas em situação de vulnerabilidade social.</p>
      <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col-6 mt-2">
            <div class="card promulher-card angela">
              <div class="card-horizontal align-items-center justify-content-center">
                <div class="img-square-wrapper">
                  <%= image_tag("angela-tavares-100.jpg", :class => "rounded-circle", :alt => "Ângela Tavares", :style => "width: 90px;") %>
                </div>
                <div class="card-body">
                  <p class="card-title promulher-txt">Ângela Madeiro</p>
                  <p class="card-text promulher-txt-about">Professora e Coordenadora</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 mt-2">
            <div class="card promulher-card edna">
              <div class="card-horizontal align-items-center justify-content-center">
                <div class="img-square-wrapper">
                  <%= image_tag("edna-leite.jpg", :class => "rounded-circle", :alt => "Edna Leite", :style => "width: 90px;") %>
                </div>
                <div class="card-body">
                  <p class="card-title promulher-txt">Edna Leite Dias</p>
                  <p class="card-text promulher-txt-about">Professora</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <br>
      <%= image_tag("logo_fametro.png", :alt => "Logotipo Unifametro") %>
    </div>
  </div>
</div>
<!-- Fim Promulher -->


<%= render 'footer' %>
