<div class="section evt-form">
  <%= simple_form_for @atividade do |f| %>
    <%= f.input :nome, input_html: { class: 'form-control mb-0'}, label_html: { class: 'label label_b'}, required: true  %>
    <%= f.input :qtd_max_alunos, label: "Quantidade máxima de alunos", input_html: { class: 'form-control mb-0'},
    label_html: { class: 'label label_b mt-4'}, required: true  %>
    <%= f.association :voluntarios, label: "Professor(a)/Responsável", :collection => @voluntarios.order('nome ASC'),
    :label_method => :nome, :value_method => :id, input_html: {class: 'select21 mb-0', style: 'width: 100%; '},
    label_html: { class: 'label label_b mt-4'}, required: true %><br>
    <%= f.input :tipo, collection: [["atividade", "Atividade prática"], ["unifametro", "Projeto Unifametro"],
    ["medianeiras", "Projeto Interno - Medianeiras"]], prompt: "Selecionar tipo da atividade",
    label_method: :second, value_method: :first, label: "Tipo", input_html: { class: 'form-control', id: 'tipo'},
    label_html: { class: 'select label_b'}%>

    <%# Campos disponíveis apenas se a opção selecionada for 'Atividade Prática' %>
    <%= content_tag :div, class: 'js-dependent-fields', data: { 'select-id': 'tipo', 'option-value': 'atividade'} do %>
      <p class="card-body-text text-justify"> <i class="fas fa-exclamation-circle text-danger"></i>
      <b>Essa categoria é destinada a atividades em que seja necessário divulgar que
        há vagas disponíveis.</b> Ao selecioná-la, a atividade cadastrada será exibida na página principal do site (ATIVIDADES),
        com uma imagem, o professor/responsável, o número total de alunos, a quantidade de vagas disponíveis e, principalmente,
        a foto de exibição.
      </p>
      <%= f.input :imagem, as: :file, label: "Selecionar imagem de exibição", input_html: { class: "d-flex custom-file-input", id: 'customFile'},
      label_html: { class: 'label col-md-12 hidden-field mt-3 custom-file-label', for: 'customFile' },
      wrapper_html: { class: 'custom-file mb-4'} %>

      <%= f.input :descricao, label: "Descrição", input_html: { class: 'form-control ml-1 mr-1 d-flex col hidden-field mb-3 '},
      label_html: { class: 'label label_b col-md-12 hidden-field mt-3'}, wrapper_html: {class: 'form-row hidden-field'}%>
    <% end %>

    <%= f.input :horario, label: "Horário", input_html: { class: 'form-control mb-0'}, label_html: { class: 'label label_b mt-2'}, required: true %>
    <%= f.input :dias_semana, label: "Dias da semana", input_html: { class: 'form-control mb-0'}, label_html: { class: 'label label_b mt-4'}, required: true %>
    <%= f.button :submit, class: "btn btn-primary btn-criar mt-4"%>
    <%= link_to 'Voltar', :back, class: "btn btn-outline-secondary mt-4" %>
  <% end %>
<div>

<!-- Script para habilitar o select2 no campo "Atividades" -->
<script>
  $(document).ready(function() {
    $('.select21').select2({
      theme: 'bootstrap',
      placeholder: 'Selecionar Professor(a)/Responsável',
      language: 'pt-BR'
    });
});
</script>
