<!-- <h1 class="h1-evt">Atividades#show</h1>
<p>Find me in app/views/atividades/show.html.erb</p> -->
<br>
<div class="container">
<div class="card">
  <div class="card-body">
    <h4 class="card-title text-primary"><b><%= @atividade.nome %></b></h4>
    <% @atividade.voluntarios.each do |voluntario| %>
      <p class="mb-3"><b>Professor(a)/Responsável: </b><%= voluntario.nome %></p>
    <% end %>
    <p class="mb-3"><b>Horário: </b><%= @atividade.horario %></p>
    <p class="mb-3"><b>Dia(s): </b><%= @atividade.dias_semana %></p>
    <p class="mb-3"><b>Quantidade máx. de alunos: </b><%= @atividade.qtd_max_alunos %></p>
    <%= link_to 'Editar', edit_atividade_path(@atividade), class: 'btn btn-outline-primary' %>
    <%= link_to 'Apagar', atividade_path(@atividade), class: 'btn btn-outline-danger', method: :delete, data: { confirm: 'Tem certeza que deseja
    apagar a atividade selecionada?' } %>
  </div>
</div>
