<div class="section evt-form">
  <%= simple_form_for @pessoa do |f| %>
    <%= f.input :nome, input_html: { class: 'form-control mb-0', required: true}, label_html: { class: 'label label_b'} %>
    <%= f.input :dt_nascimento, label: "Data de nascimento", input_html: { class: 'form-control ml-1 mr-1 d-flex col'},
    label_html: { class: 'label label_b col-md-12 mt-4'}, wrapper_html: {class: 'form-row'}, start_year: Date.today.year - 90,
    end_year: Date.today.year, required: true %>
    <%= f.input :idade, input_html: { class: 'form-control mb-0'}, label_html: { class: 'label label_b'}, required: true  %>
    <%= f.input :responsavel, label: "Responsável", input_html: { class: 'form-control'}, label_html: { class: 'label label_b mt-4'}  %>
    <%= f.input :endereco, label: "Endereço", input_html: { class: 'form-control'}, label_html: { class: 'label label_b'}  %>
    <%= f.input :bairro, input_html: { class: 'form-control'}, label_html: { class: 'label label_b'}  %>
    <%= f.input :telefone, input_html: { class: 'form-control'}, label_html: { class: 'label label_b'} %>
    <%= f.input :religiao, prompt: "Escolha uma religião", label: "Religião",
    collection: [ "Ateu", "Católico(a)", "Evangélico(a)", "Agnóstico(a)", "Outra"],
    input_html: { class: 'form-control', id: 'religiao'}, label_html: { class: 'label label_b'}%>

    <%= content_tag :div, class: 'js-dependent-fields', data: { 'select-id': 'religiao', 'option-value': 'Outra'} do %>
      <%= f.input :religiao, label: "Informe a religião", input_html: { class: 'form-control hidden-fields'}, label_html: { class: 'label label_b hidden-fields'}  %>
    <% end %>
    <%= f.input :dt_entrada, label: "Data de entrada no Centro Comunitário", input_html: { class: 'form-control ml-1 mr-1 d-flex col'},
    label_html: { class: 'label label_b col-md-12'}, wrapper_html: {class: 'form-row'},
    start_year: Date.today.year - 20, end_year: Date.today.year, required: true  %>
    <%= f.input :estuda, collection: [['true', 'Sim'], ['false', 'Não']], prompt: "Selecione uma opção", label_method: :second,
    value_method: :first, label: "Estuda? (Escola)", input_html: { class: 'form-control', id: 'estudo'}, label_html: { class: 'select label_b'} %>

    <%= content_tag :div, class: 'js-dependent-fields', data: { 'select-id': 'estudo', 'option-value': 'true'} do %>
      <%= f.input :escola, input_html: { class: 'form-control hidden-fields'}, label_html: { class: 'label label_b hidden-fields'}  %>
      <%= f.input :serie, prompt: "Escolha uma série", label: "Série", collection: [ "Alfabetização", "2ª série", "3ª série", "4ª série", "5ª série", "6ª série",
      "7ª série", "8ª série", "9ª série", "1º ano", "2º ano", "3º ano"], input_html: { class: 'form-control hidden-fields'}, label_html: { class: 'label label_b hidden-fields'} %>
    <% end %>

    <%= f.association :atividades, :collection => @atividades.order('nome ASC'), :label_method => :nome,
    :value_method => :id, input_html: {class:'select2', style: 'width: 100%; '}, label_html: { class: 'label label_b'} %><br>
    <%= f.button :submit, class: "btn btn-primary btn-criar"%>
    <%= link_to 'Voltar', :back, class: "btn btn-outline-secondary" %>
  <% end %>

  <!-- Script para habilitar o select2 no campo "Atividades" -->
  <script>
    $(document).ready(function() {
      $('.select2').select2({
        theme: 'bootstrap',
        placeholder: 'Selecionar atividade...',
        language: 'pt-BR'
      });
  });
  </script>
</div>
<br>

<!-- Script para habilitar campos "Escola" e "Série" apenas se o usuário selecionar a opção "Sim" em Estuda? -->
<script>
  $(function() {
    $('#boolean').change(function(){
        if ($(this).val () == 'true') {
            $('.hidden-fields').show();
        } else {
            $('.hidden-fields').hide();
        }
    });
})
</script>

<script>
  $('#religiao').change(function() {
    if($('#religiao').val() === 'Outra')
      $('#pessoa_religiao').val('')
    else
      $("#pessoa_religiao").val($('#religiao').val());
  });
</script>

<script>
  $(document).on("change", function () {
    var ano_nasc = $('#pessoa_dt_nascimento_1i').find(":selected").text();
    var ano = (new Date).getFullYear();

    var mes = (new Date).getMonth();
    var mes_nasc = $('#pessoa_dt_nascimento_2i').find(":selected").val();

    var dia = (new Date).getDay();
    var dia_nasc = parseInt($('#pessoa_dt_nascimento_2i').find(":selected").val());

    var dob = ano_nasc+'-'+mes_nasc+'-'+dia_nasc
    dob = new Date(dob);
    var today = new Date();
    var age = Math.floor((today-dob) / (365.25 * 24 * 60 * 60 * 1000));

    if (age != 0 && age > 0) {
      $('#pessoa_idade').val(age);
    }

    if (age >= 18) {
      var nome = $('#pessoa_nome').val();
      $('#pessoa_responsavel').val($("#pessoa_nome").val());
    }
  });

  $('#pessoa_telefone').val('(85)')
</script>
