<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sl-1.3.1/datatables.min.css"/>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sl-1.3.1/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json"></script>
<script>
  $(document).ready(function() {
    $('#example').dataTable(
    {
      // dom: 'Bfrtip',
      // buttons: [
      //     'copy', 'excel', 'pdf'
      // ],
      language: {
          "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json"
      }
    }
    );
});
</script>

<h1 class="h1-evt">Formulários - Visão geral</h1>
<!-- <p>Find me in app/views/pessoas/index.html.erb</p> -->

<br>
<div class="table-responsive">
  <table id="example" class="table table-hover display" style="width:100%">
    <thead class="thead-dark">
      <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>Atividades</th>
        <th>Data de entrada</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @pessoas.each do |pessoa| %>
        <tr>
          <td><%= link_to pessoa.nome, pessoa, class: "text-dark", title: "Ver ficha cadastral de #{pessoa.nome}" %></td>
          <td><%= pessoa.idade %></td>
          <td><% pessoa.atividades.order(nome: :asc).each do |atividade| %>
            <% if pessoa.atividades.length > 1 %>
              <%= atividade.nome %><br>
            <% else %>
              <%= atividade.nome %>
            <% end %>
          <% end %></td>
          <td><%= l pessoa.dt_entrada, format: :complete_numbers %></td>
          <td><%= link_to 'Editar', edit_pessoa_path(pessoa), class: 'btn btn-outline-primary btn-next' %>
          <%= link_to 'Apagar', pessoa_path(pessoa), class: 'btn btn-outline-danger btn-next', method: :delete, data: { confirm: 'Tem certeza que deseja apagar o cadastro selecionado?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
