<h1>Pessoas#index</h1>
<p>Find me in app/views/pessoas/index.html.erb</p>

<% @pessoas.each do |pessoa| %>
  <%= pessoa.nome %>
  <%= pessoa.idade %>
  <% pessoa.atividades.each do |atividade| %>
    <%= atividade.nome %>
  <% end %>
<% end %>

<br><br>

A fazer, cadelinha:
- Jogar tudo isso em uma tabela;
- Colocar 2 tabelas em uma mesma linha;
- Ver algo que seja possível abaixar/subir (bootstrap);
https://getbootstrap.com/docs/4.3/components/navs/
<h2>Todas as atividades</h2>
<% @atividades.each do |atividade| %>
  <b><%= atividade.nome %></b><br>
  <% atividade.pessoas.each do |pessoa| %>
    <%= pessoa.nome %><br>
  <% end %><br>
<% end %>
