<h1 class="h1-evt">Formulário de Pessoa</h1>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin/pessoas/novo">Novo cadastro de pessoa</a></li>
      <li class="breadcrumb-item"><a href="/admin/pessoas">Ver todas as pessoas cadastradas</a></li>
      <li class="breadcrumb-item"><a href="/admin/atividades">Ver atividades</a></li>
    </ol>
  </nav>

  <div class="card mt-2">
    <div class="card-header">
      <h4 class="my-auto text-primary"><b><%= @pessoa.nome %></b>
      </h4>
    </div>

    <div class="card-body">
      <p><b>Idade: </b><%= @pessoa.idade %></p>
      <p><b>Data de Nascimento: </b><%= l @pessoa.dt_nascimento, format: :complete_numbers, default: "" %></p>
      <p><b>Endereço: </b><%= @pessoa.endereco %></p>
      <p><b>Bairro: </b><%= @pessoa.bairro %></p>
      <p><b>Telefone: </b><%= @pessoa.telefone %></p>
      <p><b>Religião: </b><%= @pessoa.religiao %></p>
      <p><b>Responsável: </b><%= @pessoa.responsavel %></p>
      <p><b>Data de entrada: </b><%= l @pessoa.dt_entrada, format: :complete_numbers, default: ""  %></p>
      <p><b>Estuda? </b><%= @pessoa.form_estuda %></p>
      <% if @pessoa.estuda %>
        <p><b>Escola: </b><%= @pessoa.escola %></p>
        <p><b>Série: </b><%= @pessoa.serie %></p>
      <% end %>
      <p><b>Atividades:</b>
      <% if @pessoa.atividades.count == 0 %>
        Esta pessoa não está cadastrado(a) em nenhuma atividade.
      <% else %>
        <% @pessoa.atividades.each do |atividade| %>
        <%= link_to atividade.nome, atividade, class: "badge badge-primary", style: "font-size: 16px;" %>
        <% end %>
      <% end %></p>
      <span style="font-size: 20px;">
        <%= link_to pessoa_path(@pessoa), method: :delete, class: "btn btn-outline-danger", title: "Apagar ficha de #{@pessoa.nome}",
        data: { confirm: "Tem certeza que deseja apagar a ficha de #{@pessoa.nome}?" } do %>
        <i class="fas fa-user-times float-right"></i>
        <% end %>

        <%= link_to edit_pessoa_path(@pessoa), title: "Editar informações de #{@pessoa.nome}", class: "btn btn-outline-primary" do %>
        <i class="fas fa-user-edit float-right"></i>
        <% end %>
      </span>
    </div>
    <div class="card-footer text-muted text-center">
      Cadastrado(a) há <%= time_ago_in_words(@pessoa.created_at) %>
    </div>
  </div>
</div>
