<h1 class="h1-evt">Detalhes de usuário</h1>

<div class="card mt-2">
  <div class="card-header">
    <h4><b><%= @user.name %></b> (<%= @user.email %>)</h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Privilégio: </b><%= @user.role.capitalize %></li>
    <li class="list-group-item"><b>Data de criação: </b><%= l @user.created_at, format: :long%></li>
    <li class="list-group-item"><b>Última atualização em: </b><%= l @user.updated_at, format: :long %></li>
  </ul>
</div>
