<h1 class="h1-evt">Detalhes de usuário</h1>

<div class="card mt-3">
  <ul class="list-group list-group-flush card-body-text">
    <li class="list-group-item" style="border-left: 5px solid #007bff;">
      <h4 class="my-auto text-primary py-2"><b><%= @user.name %></b> (<%= @user.email %>)</h4>
    </li>
    <li class="list-group-item"><b>Privilégio: </b><%= @user.role.capitalize %></li>
    <li class="list-group-item"><b>Data de criação: </b><%= l @user.created_at, format: :long%></li>
    <li class="list-group-item"><b>Última atualização em: </b><%= l @user.updated_at.advance(hours: -3), format: :long %></li>
  </ul>
</div>
