<!DOCTYPE html>
<html>
  <head>
    <title><%=@title or 'Medianeiras'%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8d9d868ad3.js" crossorigin="anonymous"></script>

    <% if alert %>
        <p class="alert alert-danger" role="alert"><%= alert %></p>

    <% elsif notice %>
      <p class="alert alert-success" role="alert"><%= notice %></p>
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<script type="text/javascript">

// window.setTimeout(function() {
//     $(".alert").fadeTo(500, 0).slideUp(500, function(){
//         $(this).remove();
//     });
// }, 4000);

// $(".alert").delay(4000).slideUp(200, function() {
//     $(this).alert('close');
// });

$(".alert").fadeTo(4000, 500).slideUp(500, function(){
    $(".alert").alert('close');
    $(this).remove();
});
//     $(".alert-success").fadeTo(500, 0).slideUp(500, function () {
//         $(this).remove();
//     });
// }, 5000);


</script>
