<!DOCTYPE html>
<html>
  <head>
    <title><%=@title or 'Medianeiras'%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/8d9d868ad3.js" crossorigin="anonymous"></script>

    <% if alert %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= alert %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% end %>

    <% if notice %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<!-- <script type="text/javascript">

$(".alert").fadeTo(4000, 500).slideUp(500, function(){
    $(".alert").alert('close');
    $(this).remove();
});

</script> -->

<script>

$(".alert").fadeIn();
closeSnoAlertBox();
showAlert();

function showAlert() {
  $(".alert").addClass("in");
}

function closeSnoAlertBox(){
  window.setTimeout(function () {
  $(".alert").fadeOut(300)
}, 5000);
  }
</script>
