<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://kit.fontawesome.com/8d9d868ad3.js" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <title>Medianeiras - Admin</title>
</head>

<body>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><a href="/admin" class="admin-menu-title"><i class="fas fa-cog"></i> Medianeiras Admin</a></div>
      <div class="list-group list-group-flush">

        <!-- Pessoas -->
        <span class="list-group-item tsts">Pessoas</span>
        <a href="/admin/pessoas/novo" class="list-group-item list-group-item-action
        bg-light menu-item">Cadastrar pessoa</a>
        <a href="/admin/pessoas" class="list-group-item list-group-item-action bg-light
        menu-item">Ver cadastros</a>
        <a href="/admin/pessoas/promulher" class="list-group-item list-group-item-action
        bg-light menu-item">Cadastro Promulher</a>

        <!-- Atividades -->
        <span class="list-group-item tsts">Atividades</span>
        <a href="/admin/atividades/novo" class="list-group-item list-group-item-action
        bg-light menu-item">Cadastrar atividade</a>
        <a href="/admin/atividades" class="list-group-item list-group-item-action
        bg-light menu-item">Ver todas</a>

        <!-- Voluntários -->
        <span class="list-group-item tsts">Voluntários</span>
        <a href="/admin/voluntarios/novo" class="list-group-item list-group-item-action
        bg-light menu-item">Cadastrar voluntário</a>
        <a href="/admin/voluntarios" class="list-group-item list-group-item-action
        bg-light menu-item">Ver todos</a>

        <!-- Eventos -->
        <span class="list-group-item tsts">Eventos</span>
        <a href="/admin/eventos/calendario" class="list-group-item list-group-item-action
        bg-light menu-item">Calendário</a>
        <a href="/admin/eventos/novo" class="list-group-item list-group-item-action
        bg-light menu-item">Novo evento</a>
        <a href="/admin/eventos/proximos_eventos" class="list-group-item
        list-group-item-action bg-light menu-item">Próximos eventos</a>
        <a href="/admin/eventos/" class="list-group-item list-group-item-action bg-light
        menu-item">Ver todos os eventos</a>

        <% if current_user.superadmin? %>
        <span class="list-group-item tsts">Usuários</span>
        <a href="/admin/users" class="list-group-item list-group-item-action bg-light menu-item
        ">Gerenciar usuários</a>
        <% end %>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Expandir/encolher menu"
        id="menu-toggle"><i class="fas fa-bars"></i></button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <span class="nav-link" href="#">Logado como <b><%= current_user.email %></b></span>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Usuário
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to ('Preferências'), edit_user_registration_path, class: 'dropdown-item'%>

                <div class="dropdown-divider"></div>
                <%= link_to ('Sair'), destroy_user_session_path, class: 'dropdown-item', method: :delete %>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <% if alert %>
      <div class="alert alert-danger alert-dismissible fade show mt-4 mb-3" role="alert">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% end %>

      <% if notice %>
      <div class="alert alert-success alert-dismissible fade show mt-4 mb-3" role="alert">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% end %>
      <div class="container-fluid">

        <%= yield %>

      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Menu toggle script -->
  <script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
  </script>

  <!-- <script>
  $(".alert").fadeTo(4000, 500).slideUp(500, function(){
      $(".alert").alert('close');
      $(this).remove();
  });
  </script> -->

  <!-- Alertas -->
  <script>

  $(".alert").fadeIn();
  closeSnoAlertBox();
  showAlert();

  function showAlert() {
    $(".alert").addClass("in");
  }

  function closeSnoAlertBox(){
    window.setTimeout(function () {
    $(".alert").fadeOut(300)
  }, 5000);
    }
  </script>

  <!-- Itens do menu (Active) -->
  <script>
    $('a.menu-item').each(function () {
      var curr_page = ($(this)).attr('href');
      if (window.location.pathname == curr_page) {
        $(this).addClass("bg-active")
      }
    });
  </script>

</body>
</html>
